@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model MyEpiserverSite.Models.Pages.ArticlePage

<div>
    <h1>@Html.PropertyFor(m => m.Heading)</h1>

    <h3>@Html.PropertyFor(m => m.Introduction)</h3>

    <div>@Html.PropertyFor(m => m.MainBody)</div>
  
</div>